guess-number-task/game_v2.py
guess-number-task/game.ipynb
guess-number-task/game.py
Private/tests.py
Private/tests.ipynb
Private/countries.csv
Private/melb_data/melb_data.csv
Private/data/countries.csv
Private/data/melb_data.csv
Private/
Project_1 HH analitics/data/dst-3.0_16_1_hh_database.csv
Project_1 HH analitics/data/dst-3.0_16_3_hh_database_preprocessed.csv
Project_1 HH analitics/data/ExchangeRates.csv
