guess-number-task/game_v2.py
guess-number-task/game.ipynb
guess-number-task/game.py
Private/tests.py
Private/tests.ipynb
Private/countries.csv
Private/melb_data/melb_data.csv
Private/data/countries.csv
Private/data/melb_data.csv
Private/
Project_1 HH analitics/data/dst-3.0_16_1_hh_database.csv
Project_1 HH analitics/data/dst-3.0_16_3_hh_database_preprocessed.csv
Project_1 HH analitics/data/ExchangeRates.csv
ProdOrderImp17320.xml
output/
auto-py-to-exe/
.vscode/settings.json
Project_3 Booking rating case/data/hotels.csv
Project_3 Booking rating case/data/hotels_train.csv
Project_3 Booking rating case/data/hotels_test.csv
Project_3 Booking rating case/data/API_NY.GDP.MKTP.CD_DS2_en_excel_v2_3731268.xls
Project_3 Booking rating case/data/submission.csv
main.py
__pycache__/main.cpython-39.pyc
Project_4 Bank data cluster/data/bank_fin.zip
code-review.csv
auto-py-to-exe
auto-py-to-exe
__pycache__/
tests/
Project 2 Postgres SQL/secrets
